<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" integrity="sha384-xeJqLiuOvjUBq3iGOjvSQSIlwrpqjSHXpduPd6rQpuiM3f5/ijby8pCsnbu5S81n" crossorigin="anonymous">
    <script defer src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script defer src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='fileupload.css') }}">
<body>
    {% include 'navbar.html' %}
    <div id="container">
        <h1>{{ title }}</h1>
        


        <form method="POST" enctype="multipart/form-data">
            <div class="center">
                <input type="file" name="file" id="file" accept="audio/*">
                <div class="lower" id="centercenter">
                    <label class="lower" id="centercenter">Enter name for playlist: </label>
                    <input type="text" name="playlistname" id="playlistname" accept="*" id="centercenter">
                    <input type="submit" value="Upload" id="centercenter" onclick="PopUp()">
                    {% if message %}
                    <h2>{{ message }}</h2>
                    {% endif %}
                </div>
            </div>
        </form>
        <a href="https://super-rotary-phone-9vp6w9j9jpg3r7w-5000.app.github.dev/select"><button id="swap">Let's pick some music</button></a>


        <script>
            let popup = document.getElementById('confirm');
            function PopUp() {
                 popup.classList.toggle("show");
            }
            

        </script>
    </div>
</body>

</html>